body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Urbanist', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF5733;
    font-weight: bold;
    margin-top: 30px;
    border-bottom: 2px solid red;
    padding-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 500px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    width: 40%;
    height: 40%;
    margin-top: 10px;
}

.inlinee {
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
    
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    position: fixed;
    margin-top: 15px;
}


